<%- include('../partials/header'); -%> 
    <main>
        <!-- Hero Area Start-->
        <!--
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>UI/UX Designer</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-80 pb-100">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4><%= detail.title %> </h4>
                                    </a>
                                    <ul>
                                        <li><%= detail.nameOfCompany %> </li>
                                        <li><i class="fas fa-map-marker-alt"></i><%= detail.provincecity %> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- job single End -->
                    
                        <div class="job-post-details" style="padding-left: 20px;">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Mô tả công việc</h4>
                                </div>
                                <p><%= detail.description %> </p>
                            </div>
                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle" style="padding-top: 10px;">
                                    <h4>Yêu cầu</h4>
                                </div>
                                <div><%= detail.skills %> </div>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Tổng quan</h4>
                        </div>
                        <ul>
                            <li>Ngày đăng : <span></span></li>
                            <li>Số lượng tuyển : <span><%= detail.amountOfApplicant %> </span></li>
                            <li>Loại công việc : <span><%= detail.type %> </span></li>
                            <li>Lương :  <span><%= detail.salary %> </span></li>
                            <li>Hạn ứng tuyển : <span><%= detail.deadline %> </span></li>
                        </ul>
                        <div class="apply-btn2">
                            <a href="#" class="btn">Ứng tuyển ngay</a>
                        </div>
                    </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                        <div class="small-section-tittle" style="padding-top: 10px;">
                            <h4>Thông tin liên hệ</h4>
                        </div>
                            <ul>
                                <li>Email: <span><%= detail.email %> </span></li>
                                <li>Số điện thoại: <span><%= detail.phone %>  </span></li>
                                <li>Địa chỉ: <span><%= detail.address %> </span></li>
                            </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>

<%- include('../partials/footer'); -%> 